---
layout: default
---

{% if paginator.page == 1 %}

    <h1 class="page-heading">the Eaten by Monsters music blog</h1>

    <article class="postContent mainContent">
        <h3>Writing semi-coherently about new music since 2008. An award-winning, taste-making, discourse-shaping powerhouse (albeit in a very specific niche).</h3>
        <!-- <p></p> -->

        <div class="dividerWrapper">
            <h6>Reviews</h6>
            <div class="arrow down"></div>
        </div>

    </article>

{% else %}

    <article class="postContent mainContent">

        <div class="dividerWrapper">
            <h6>Reviews: Page {{ paginator.page }}</h6>
            <div class="arrow down"></div>
        </div>

    </article>

{% endif %}

<div class="postList homepagePostList clearfix">
        {% for post in paginator.posts %}
                <!-- <li> -->
                {% include snippet.html %}
                <!-- </li> -->
        {% endfor %}
</div>

<!-- Pagination links -->
<div class="pagination mainContent">

    {% if paginator.page == 1 %}

        <h5><strong>There are {{ site.posts | size }} posts on this site</strong> spread over {{ paginator.total_pages }} pages</h5>

        <p class="small">That's a lot of pages. Most people don't ever make it past the first. So tell me; have <em>you</em> got what it takes? Is your commitment to music unfaltering? </p>

        <div class="clearfix littleButtons">

            <a href="{{ paginator.next_page_path }}" class="genericButton block bottomMargin half">Yes! Take me to the next page!</a>

            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="genericButton block half right">No way. Get me out of here!</a>

        </div>

    {% else %}
        <h5><strong>You are on page {{ paginator.page }}</strong> {% if paginator.page == 2 %}
            So where to now?
        {% endif %}
        {% if paginator.page == 3 %}
            Come further up, come further in!
        {% endif %}
        {% if paginator.page != 1 %}
            {% if paginator.page != 2 %}
                {% if paginator.page != 3 %}
                    Can you make it to the end?
                {% endif %}
            {% endif %}
        {% endif %}</h5>        
    {% endif %}

    {% if paginator.page != 1 %}

    
        <div class="paginationList clearfix">
            {% for i in (1..paginator.total_pages) %}
                {% if i == 1 %}
                    <a class="paginatorLink home" href="/">Home</a>
                {% else %}
                    {% if i == paginator.page %}
                        <span class="paginatorLink current">{{ i }}</span>
                    {% else %}
                        <a class="paginatorLink" href="/page{{ i }}">{{ i }}</a>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>

    {% endif %}
</div>

<!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->
