---
layout: default
---

<h1 class="page-heading">the Eaten by Monsters music blog</h1>

<article class="postContent mainContent">
  <h3>Writing semi-coherently about new music since 2008. An award-winning, taste-making, discourse-shaping powerhouse (albeit in a very specific niche).</h3>
  <p></p>

  <div class="dividerWrapper">
    <h6>Reviews</h6>
    <div class="arrow down"></div>
  </div>

</article>

<div class="post-list clearfix">
    {% for post in paginator.posts %}
        <!-- <li> -->
            {% include snippet.html %}
        <!-- </li> -->
    {% endfor %}
</div>

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>

<!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->
