<div id="player" class="player">

    {% assign count = 0 %}
    {% for audioLink in page.audioLinks %}
        <div class="playlistSongWrapper song{{ count }}" data-song-index="{{ count }}">
            <button class="playlistSongTrigger songPaused notPlayedYet" data-song-index="{{ count }}">
                <span class="playPauseIcon"></span>
                <span class="playlistInfo playlistSongName">{{ audioLink.name}}</span>
                <span class="playlistInfo playlistInfoBandAlbum">
                    <span class="playlistBandName">{% if audioLink.artist %}{{ audioLink.artist }}{% else if page.band %}{{ page.band }}{% endif %}</span> – <span class="playlistAlbumName"><em>{% if audioLink.album %}{{ audioLink.album }}{% else if page.recordTitle %}{{ page.recordTitle }}{% endif %}</em></span>
                </span>
            </button>

            <div class="songProgress clearfix">

                <div class="songPlayTimer">
                    0:00
                </div>

                <input type="range" class="songProgressSlider" min="0" max="100" value="0" oninput="myAudioPlayer.sliderScrub(this.value, {{ count }})">

                <!--oninput="sliderScrub(value,{{ count }})"/>-->

                <div class="songDuration">
                    0:00
                </div>

            </div>
        </div>
        {% assign count = count | plus: 1 %}
    {% endfor %}



    <!-- <div id="player-top">
        
        <div id="now-playing-title" amplitude-song-info="name"></div>
        <div class="album-information"><span amplitude-song-info="artist"></span> - <span amplitude-song-info="album"></span></div>

    </div>
    <div id="player-bottom">
        
        <div id="control-container">
            <button class="amplitude-prev">Prev</button>
            <button class="amplitude-play-pause amplitude-paused" amplitude-main-play-pause="true">Play/Pause</button>
            <button class="amplitude-next">Next</button>
        </div>

        <div id="current-song-information">
            <span id="current-time">
                <span class="amplitude-current-minutes" amplitude-single-current-minutes="true">0</span>:<span class="amplitude-current-seconds" amplitude-single-current-seconds="true">00</span>
            </span>
            <input type="range" id="song-time-slider" class="amplitude-song-slider" amplitude-singular-song-slider="true" value="0"/>
            <span id="audio-duration">
                <span class="amplitude-duration-minutes" amplitude-single-duration-minutes="true">0</span>:<span class="amplitude-duration-minutes" amplitude-single-duration-seconds="true">00</span>
            </span>
        </div> -->
</div>