<header class="mainHeader">
    
    <div class="logo">
        <a href="{{ site.baseurl }}/" class="siteTitle">Eaten by Monsters</a>
    </div>

    <button id="mobileNavToggle" class="navToggle"><span class="navicon"></span><span class="visuallyhidden">Menu</span></button>
    
    <nav>
        <ul id="mainMenu" class="mainMenu">

            {% for page in site.pages %}
                {% if page.title %}
                    <li>
                        <a href="{{ page.url | prepend: site.baseurl }}">
                            <span class="menuLinkInner">
                                {% if page.shortTitle%}
                                    {{ page.shortTitle }}
                                {% else %}
                                    {{ page.title }}
                                {% endif %}
                            </span>
                        </a>
                    </li>
                {% endif %}
            {% endfor %}

        </ul>
    </nav>
</header>