<header class="mainHeader">
    
    <div class="logo">
        <a href="{{ site.baseurl }}/" class="siteTitle">
            <span class="logoInitial letterE">Eaten </span>
            <span class="logoInitial letterB">by </span>
            <span class="logoInitial letterM">Monsters</span>
        </a>
    </div>

    <button id="mobileNavToggle" class="navToggle"><span class="navicon"></span><span class="visuallyhidden">Menu</span></button>
    
    <nav>
        <ul id="mainMenu" class="mainMenu">

            {% for page in site.pages %}
                {% if page.mainMenu == true %}
                    {% if page.title %}
                        <li>
                            <a href="{{ page.url | prepend: site.baseurl }}">
                                <span class="menuLinkInner">
                                    {% if page.menuTitle %}
                                        {{ page.menuTitle }}
                                    {% else if page.shortTitle %}
                                        {{ page.shortTitle }}
                                    {% else %}
                                        {{ page.title }}
                                    {% endif %}
                                </span>
                            </a>
                        </li>
                    {% endif %}
                {% endif %}
            {% endfor %}

        </ul>
    </nav>
</header>