footer{
	background:$blueMid;
}
.footerInner{
	@extend %mainWrap;
	padding:2em 0;
	h3{
		font-size:1.2em;
		padding-bottom:.5em;
	}
	a{text-decoration:none;}
	.footerBlock{
		font-size:.8em;
		line-height:1.4em;
	}
}

.footerSocialLinks{
	display:block;
}
.addressLine{
	display:block;
}
.footerLink{
	display:block;
	a{
		font-family:$display;
		font-style:italic;
	}
}

.footerStrip{
	background:$dark;
	color:$white;
}
.footerStripInner{
	@extend %mainWrap;
	position:relative;
	padding:1em 0;
	span{
		display:block;
	}
	.registered{
		width:50%;
		float:left;
		padding-right:2em;
		font-size:.8em;
	}
	.footerLogo{
		width:3em;
		height:1em;
		background:$red;
		position:absolute;
		top:1em;
		left:50%;
		margin-left:-1.5em;
	}
	.copyright{
		text-align:right;
		width:50%;
		float:right;
		padding-left:2em;
		font-size:.8em;
	}
}
