.postSnippet{
    // border-bottom:$black solid .4em;
    // padding:.5em;
    // background:$white;
    margin-bottom:1em;
    // box-shadow:rgba($black,.3) -.2em .5em 0 0;
    // width:48%;
    // margin-right:4%;
    // float:left;
}

// .postSnippet:nth-of-type(2n){
//     margin-right: 0;
// }

// .postSnippet:nth-of-type(2n + 1){
//     clear: both;
// }

.postSnippet{

    p{
        padding:0;
        line-height:1;
        display:block;
    }
    .snippetIntro{
        padding:0 0 .5em 0;
    }

    .snippetMeta{
        font-size:.8em;
        font-family:$caps;
        text-transform:lowercase;
        // margin-top:.5em;
        border-top:$black solid .1em;
        padding-top:.2em;
        padding-bottom:.5em;
        border-bottom:$black solid .1em;
        margin-bottom:.5em;
    }

    .snippetExcerpt{
       line-height:1.4;
       padding:0 0 .5em 0;
    }
}