::-moz-selection {
  background: rgba(127, 187, 203, 0.5); }

::selection {
  background: rgba(127, 187, 203, 0.5); }

a::-moz-selection {
  color: #333333;
  background: rgba(251, 174, 23, 0.5); }

a::selection {
  color: #333333;
  background: rgba(251, 174, 23, 0.5); }

.utilityButton.openDown:before, .hiddenSectionWrap:before, .siteTitle:before, .clearfix:before, .utilityButton.openDown:after, .hiddenSectionWrap:after, .siteTitle:after, .clearfix:after {
  content: ' ';
  display: table; }

.utilityButton.openDown:after, .hiddenSectionWrap:after, .siteTitle:after, .clearfix:after {
  clear: both; }

.utilityButton.openDown, .hiddenSectionWrap, .siteTitle, .clearfix {
  zoom: 1; }

.genericButton, .utilityButton, .navToggle, .playlistSongTrigger {
  display: block;
  background: inherit;
  color: inherit;
  border: none;
  cursor: pointer;
  font-size: 1em;
  line-height: inherit;
  padding: 0;
  margin: 0;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  font-family: inherit; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

html {
  font-size: 100%; }

html {
  min-width: 280px; }

body {
  font-family: "ff-meta-web-pro", "Helvetica Neue", helvetica, arial, sans-serif;
  color: #333333;
  font-size: 1.2em;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
  -webkit-font-variant-ligatures: common-ligatures;
          font-variant-ligatures: common-ligatures; }
  @media (max-width: 400px) {
    body {
      font-size: 1em; } }

a {
  color: inherit;
  display: inline-block;
  text-decoration: none;
  line-height: inherit;
  -webkit-transition: color, background;
          transition: color, background;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s; }
  a:hover {
    color: #333333;
    background: #7fbbcb; }

h1 {
  font-size: 3em;
  font-family: 'abril-fatface';
  line-height: 1.1;
  padding: 0 0 1em 0;
  -webkit-font-variant-ligatures: normal;
          font-variant-ligatures: normal; }
  @media (max-width: 750px) {
    h1 {
      font-size: 2em; } }

h2 {
  font-size: 1.4em;
  font-family: 'abril-fatface';
  font-style: italic;
  padding: 0;
  line-height: 1.3;
  padding-top: 0.2em;
  -webkit-font-variant-ligatures: normal;
          font-variant-ligatures: normal; }

p {
  padding-bottom: 1em; }
  @media (max-width: 400px) {
    p {
      padding-bottom: 2em; } }

em {
  font-style: italic; }

strong {
  font-family: "ff-meta-sc-web-pro", "ff-meta-web-pro", "Helvetica Neue", helvetica, arial, sans-serif;
  text-transform: lowercase; }

li {
  list-style: none; }

blockquote {
  font-size: 1.4em;
  line-height: 1.2;
  font-family: 'abril-fatface';
  margin: 1em 0 1.5em 0;
  -webkit-box-shadow: #fff8d8 -0.4em 0 0 0, #333333 -0.5em 0 0 0, #fff8d8 -0.6em 0 0 0, #333333 -0.8em 0 0 0;
          box-shadow: #fff8d8 -0.4em 0 0 0, #333333 -0.5em 0 0 0, #fff8d8 -0.6em 0 0 0, #333333 -0.8em 0 0 0; }
  blockquote strong {
    font-family: 'abril-fatface';
    text-transform: capitalize; }
  blockquote p {
    padding: 0; }
  @media (max-width: 750px) {
    blockquote {
      -webkit-box-shadow: none;
              box-shadow: none; } }
  @media (max-width: 400px) {
    blockquote {
      line-height: 1.4;
      margin: 0 0 1em 0; } }

.mainWrap {
  margin: 0 4em 0.5em 4em;
  padding: 6em 1em;
  background: #fff8d8; }
  @media (max-width: 750px) {
    .mainWrap {
      margin: 0.5em 2em 0.5em 2em;
      padding: 4em 1em; } }
  @media (max-width: 400px) {
    .mainWrap {
      margin: 0.5em 1em 0.5em 1em;
      padding: 2em 1em; } }

.genericButton {
  display: inline-block;
  background: #7fbbcb;
  color: #ffffff;
  padding: 0.5em 1em 0.3em 1em;
  border-bottom: #333333 solid 0.4em;
  font-weight: 300;
  line-height: 1;
  font-size: 0.8em;
  text-align: center;
  -webkit-transition: background, color, -webkit-box-shadow;
          transition: background, color, box-shadow;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  font-family: "ff-meta-web-pro", "Helvetica Neue", helvetica, arial, sans-serif;
  text-transform: uppercase;
  line-height: 1;
  font-style: italic;
  letter-spacing: 0.1em; }
  .genericButton:hover {
    background: #fbae17;
    color: #ffffff; }
  .genericButton:active {
    color: #333333; }
  .genericButton:focus {
    outline: none; }

.genericButton.disabled {
  background: #bbb;
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: default; }
  .genericButton.disabled:active {
    color: #ffffff; }

.utilityButton {
  text-transform: lowercase;
  font-family: "ff-meta-sc-web-pro", "ff-meta-web-pro", "Helvetica Neue", helvetica, arial, sans-serif;
  font-size: 0.8em;
  background: #333333;
  color: #fff8d8;
  line-height: 1;
  padding: 0em 1em 0.3em 1em;
  -webkit-transition: background, color;
          transition: background, color;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s; }
  .utilityButton:hover {
    color: #7fbbcb; }
  .utilityButton:focus {
    outline: none; }

.utilityButton.openDown {
  float: right;
  position: relative;
  top: -0.2em;
  padding: 0.2em 1em 0.2em 1em; }

input[type=range].songProgressSlider {
  -webkit-appearance: none;
  width: 100%;
  margin: 0; }

input[type=range].songProgressSlider::-webkit-slider-thumb {
  -webkit-appearance: none; }

input[type=range].songProgressSlider:focus {
  outline: none; }

input[type=range].songProgressSlider::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent; }

input[type=range].songProgressSlider::-webkit-slider-thumb {
  font-size: 1em;
  height: 2em;
  -webkit-appearance: none;
  width: 1.5em;
  border-radius: 0;
  background: #333333;
  background: rgba(51, 51, 51, 0.4);
  cursor: pointer;
  -webkit-box-shadow: 0;
          box-shadow: 0; }

input[type=range].songProgressSlider::-moz-range-thumb {
  box-shadow: 0;
  border: 0;
  height: 2em;
  width: 1.5em;
  border-radius: 0;
  background: #333333;
  background: rgba(51, 51, 51, 0.4);
  cursor: pointer; }

input[type=range].songProgressSlider::-ms-thumb {
  box-shadow: 0;
  border: 0;
  height: 2em;
  width: 1.5em;
  border-radius: 0;
  background: #333333;
  background: rgba(51, 51, 51, 0.4);
  cursor: pointer; }

input[type=range].songProgressSlider::-webkit-slider-runnable-track {
  width: 100%;
  height: 2em;
  cursor: pointer;
  -webkit-box-shadow: 0;
          box-shadow: 0;
  background: #7fbbcb;
  border-radius: 0;
  border: 0; }

input[type=range].songProgressSlider:focus::-webkit-slider-runnable-track {
  background: #7fbbcb; }

input[type=range].songProgressSlider::-moz-range-track {
  width: 100%;
  height: 2em;
  cursor: pointer;
  box-shadow: 0;
  background: #7fbbcb;
  border-radius: 0;
  border: 0; }

input[type=range].songProgressSlider::-ms-track {
  width: 100%;
  height: 2em;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 0.5em 0;
  color: transparent; }

input[type=range].songProgressSlider::-ms-fill-lower {
  background: #7fbbcb;
  border: 0;
  border-radius: 0;
  box-shadow: 0; }

input[type=range].songProgressSlider:focus::-ms-fill-lower {
  background: #7fbbcb; }

input[type=range].songProgressSlider::-ms-fill-upper {
  background: #7fbbcb;
  border: 0;
  border-radius: 0;
  box-shadow: 0; }

input[type=range].songProgressSlider:focus::-ms-fill-upper {
  background: #7fbbcb; }

input.inputClass {
  padding: 0.6em 0.5em 0.4em;
  line-height: 1;
  border: 0;
  border-bottom: 0.2em solid #333333;
  font-family: "ff-meta-web-pro", "Helvetica Neue", helvetica, arial, sans-serif;
  -webkit-box-shadow: rgba(51, 51, 51, 0.2) -0.3em 0.3em 0 0;
          box-shadow: rgba(51, 51, 51, 0.2) -0.3em 0.3em 0 0; }
  input.inputClass:focus {
    outline: none;
    -webkit-box-shadow: rgba(51, 51, 51, 0.2) -0.3em 0.3em 0 0, inset #fbae17 0 0 0 0.2em;
            box-shadow: rgba(51, 51, 51, 0.2) -0.3em 0.3em 0 0, inset #fbae17 0 0 0 0.2em; }

.half {
  width: 49%;
  float: left;
  margin-right: 2%; }
  .half.right {
    margin-right: 0; }

.recordMeta {
  display: block;
  width: 50%;
  float: left;
  line-height: 1.2;
  font-size: 0.8em; }
  @media (max-width: 750px) {
    .recordMeta {
      width: 100%; } }

.recordMetaKey {
  font-family: "ff-meta-sc-web-pro", "ff-meta-web-pro", "Helvetica Neue", helvetica, arial, sans-serif;
  text-transform: lowercase;
  display: inline-block;
  min-width: 8em;
  margin: 0 0.5em; }
  @media (max-width: 750px) {
    .recordMetaKey {
      width: 50%;
      float: left;
      text-align: right;
      margin: 0;
      padding: 0 0.5em; } }

.recordMetaValue {
  margin: 0 0.5em; }
  @media (max-width: 750px) {
    .recordMetaValue {
      width: 50%;
      float: left;
      margin: 0;
      padding: 0 0.5em; } }
  .recordMetaValue a {
    border-bottom: 1px solid #333333; }
    .recordMetaValue a:hover {
      background: #7fbbcb; }

.hiddenSectionWrap {
  margin-bottom: 0.5em; }

.recordMetaBox {
  display: block;
  width: 100%;
  clear: both;
  padding: 0.5em 0;
  border-top: 0.2em solid #333333;
  background: rgba(127, 187, 203, 0.3);
  border-bottom: 0 solid #333333;
  max-height: 0;
  overflow: hidden;
  padding: 0;
  -webkit-transition: max-height, border, padding;
          transition: max-height, border, padding;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s; }
  .recordMetaBox.open {
    max-height: 10em;
    border-bottom: 0.2em solid #333333; }

.recordMetaBoxInner {
  margin: 0.5em 0;
  position: relative; }
  .recordMetaBoxInner:before {
    content: "";
    display: block;
    width: 2px;
    background: #333333;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -1px; }
    @media (max-width: 750px) {
      .recordMetaBoxInner:before {
        display: none; } }

.postSnippet {
  margin-bottom: 1em; }

.postSnippet p {
  padding: 0;
  line-height: 1;
  display: block; }
.postSnippet .snippetIntro {
  padding: 0 0 0.5em 0; }
.postSnippet .snippetMeta {
  font-size: 0.8em;
  font-family: "ff-meta-sc-web-pro", "ff-meta-web-pro", "Helvetica Neue", helvetica, arial, sans-serif;
  text-transform: lowercase;
  border-top: #333333 solid 0.1em;
  padding-top: 0.2em;
  padding-bottom: 0.5em;
  border-bottom: #333333 solid 0.1em;
  margin-bottom: 0.5em; }
.postSnippet .snippetExcerpt {
  line-height: 1.4;
  padding: 0 0 0.5em 0; }

.homepagePostList .postSnippet {
  margin-top: 1em;
  margin-bottom: 4em; }

.dividerBlock, .mainContent h5 {
  display: block;
  padding: 0.6em 0.6em 0.4em 0.6em;
  font-size: 0.8em;
  line-height: 1;
  background: #333333;
  color: #fff8d8;
  margin-bottom: 1rem;
  font-style: italic; }
  .dividerBlock strong, .dividerBlock .bold, .mainContent h5 strong, .mainContent h5 .bold {
    font-style: normal;
    font-family: "ff-meta-web-pro", "Helvetica Neue", helvetica, arial, sans-serif;
    text-transform: none;
    font-weight: bold;
    padding-right: 0.5em; }

.dividerWrapper {
  text-align: center;
  margin-bottom: 1rem;
  position: relative; }
  .dividerWrapper:before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    margin-top: -1px;
    top: 50%;
    background: #333333;
    z-index: 1; }

.dividerLine, .mainContent h6 {
  position: relative;
  z-index: 2;
  display: inline-block;
  padding: 0.4em 0.4em 0.2em 0.4em;
  font-size: 0.8em;
  font-weight: bold;
  line-height: 1;
  background: #fff8d8;
  border: 2px solid #333333;
  margin-bottom: 1rem; }

.dividerWrapper .dividerLine, .dividerWrapper h6 {
  margin-bottom: 0; }

.arrow {
  position: absolute;
  width: 2px;
  height: 1.5em;
  background: #333333;
  top: 50%;
  left: 50%;
  margin-left: -1px; }
  .arrow:after, .arrow:before {
    content: "";
    display: block;
    width: 2px;
    position: absolute;
    top: 1em;
    height: 0.5em;
    background: #333333; }
  .arrow:after {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
            transform-origin: 100% 100%; }
  .arrow:before {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
        -ms-transform-origin: 0 100%;
            transform-origin: 0 100%; }

.coverImageWrapper {
  float: right;
  max-width: 50%;
  margin: 0 -25% 0.5em 0.5em; }
  .coverImageWrapper img {
    max-width: 100%;
    height: auto; }
  @media (max-width: 960px) {
    .coverImageWrapper {
      margin: 0 -10% 0.5em 0.5em; } }
  @media (max-width: 750px) {
    .coverImageWrapper {
      margin: 0 0 0.5em 0.5em; } }
  @media (max-width: 400px) {
    .coverImageWrapper {
      float: none;
      max-width: 100%;
      width: 100%;
      margin: 0 0 0.5em 0; } }

.paginatorLink {
  display: block;
  float: left;
  padding: 0.3em 0;
  line-height: 1;
  background: #7fbbcb;
  margin: 0 0.2em 0.2em 0;
  color: #fff8d8;
  font-family: "ff-meta-sc-web-pro", "ff-meta-web-pro", "Helvetica Neue", helvetica, arial, sans-serif;
  text-transform: lowercase;
  font-size: 0.8em;
  width: 2em;
  text-align: center; }
  .paginatorLink:hover {
    background: #fbae17; }
  .paginatorLink.home {
    background: #333333;
    width: 4.2em; }
    .paginatorLink.home:hover {
      background: #fbae17; }
  .paginatorLink.current {
    background: #333333;
    cursor: default; }

.pagination .small {
  margin: 0; }

.bl_search {
  font-size: 1.2em;
  margin: 0 auto 1em;
  display: block; }

.bandButton {
  background: #7fbbcb;
  padding: 0.5em;
  margin: 0.5em;
  display: block;
  position: relative;
  -webkit-box-shadow: rgba(51, 51, 51, 0.2) -0.3em 0.3em 0 0;
          box-shadow: rgba(51, 51, 51, 0.2) -0.3em 0.3em 0 0;
  cursor: pointer;
  font-family: 'abril-fatface';
  text-align: center; }

.bl_result_sub {
  width: 100%;
  background: #ffffff;
  max-height: 0;
  -webkit-transition: max-height;
          transition: max-height;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  overflow: hidden;
  text-align: center;
  z-index: 2;
  -webkit-box-shadow: rgba(51, 51, 51, 0.2) -0.3em 0.3em 0 0;
          box-shadow: rgba(51, 51, 51, 0.2) -0.3em 0.3em 0 0; }

.bandButton.open .bl_result_sub {
  max-height: 20em; }

.bandButtonSubInner {
  border-bottom: 0.4em solid #333333; }

.bl_result_sub li {
  font-family: "ff-meta-web-pro", "Helvetica Neue", helvetica, arial, sans-serif;
  font-style: italic;
  color: #333333; }
  .bl_result_sub li a {
    display: block;
    border-top: 1px solid rgba(127, 187, 203, 0.3);
    padding: 0.5em;
    font-size: 0.8em; }
    .bl_result_sub li a:hover {
      background: #fbae17; }
  .bl_result_sub li:first-of-type a {
    border-top: none; }

.mainHeader {
  height: 3em; }

.logo {
  text-align: center;
  position: relative;
  z-index: 5; }

.relativeHeaderWrapper {
  position: relative;
  z-index: 6;
  background: white;
  -webkit-transition: opacity, 0.4s;
          transition: opacity, 0.4s; }

.open .relativeHeaderWrapper {
  background: rgba(255, 255, 255, 0);
  opacity: 0;
  pointer-events: none; }

.fixedHeaderWrapper {
  position: fixed;
  top: -1.5em;
  left: 0;
  width: 100%;
  z-index: 5;
  -webkit-transition: top, 0.2s;
          transition: top, 0.2s; }
  .fixedHeaderWrapper .logo {
    opacity: 0;
    -webkit-transition: opacity, 0.4s;
            transition: opacity, 0.4s; }

.open .fixedHeaderWrapper {
  top: 0; }
  .open .fixedHeaderWrapper .logo {
    opacity: 1; }

.siteTitle {
  font-family: 'abril-fatface';
  line-height: 1;
  padding: 0.5em 0.5em 0 0.5em;
  display: inline-block;
  height: 1.5em;
  position: relative;
  -webkit-transition: left, width;
          transition: left, width;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  width: 3.2em;
  font-size: 1em; }
  .siteTitle:hover {
    background: inherit; }

.logoInitial {
  font-size: 1em;
  display: block;
  height: 1em;
  line-height: 1;
  width: 1em;
  float: left;
  overflow: hidden;
  text-align: left;
  -webkit-transition: width;
          transition: width;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  letter-spacing: 0.05em; }
  .logoInitial.letterE {
    width: 0.6em;
    margin-right: 0.05em; }
  .logoInitial.letterB {
    width: 0.6em; }
  .logoInitial.letterM {
    width: 0.85em; }

.siteTitle:hover {
  width: 10.4em; }
  .siteTitle:hover .logoInitial.letterE {
    width: 3.2em; }
  .siteTitle:hover .logoInitial.letterB {
    width: 1.4em; }
  .siteTitle:hover .logoInitial.letterM {
    width: 4.7em; }

.navToggle {
  padding: 6px 15px;
  border-radius: 0 0 0.5em 0.5em;
  width: 50px;
  height: 32px;
  margin: 0 auto;
  margin-top: -0.5em;
  -webkit-transition: background, -webkit-box-shadow;
          transition: background, box-shadow;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  position: relative;
  z-index: 4;
  background: #ffffff; }
  .navToggle:focus {
    outline: none; }

.open .navToggle {
  background: #7fbbcb;
  -webkit-box-shadow: rgba(51, 51, 51, 0.2) 0 0 0 0;
          box-shadow: rgba(51, 51, 51, 0.2) 0 0 0 0; }

.fixedHeaderWrapper .navToggle {
  -webkit-box-shadow: rgba(51, 51, 51, 0.2) 0 0.2em 0.1em 0;
          box-shadow: rgba(51, 51, 51, 0.2) 0 0.2em 0.1em 0; }

.open .fixedHeaderWrapper .navToggle {
  -webkit-box-shadow: rgba(51, 51, 51, 0.2) 0 0 0 0;
          box-shadow: rgba(51, 51, 51, 0.2) 0 0 0 0; }

@-webkit-keyframes buttonPulse {
  0% {
    -webkit-box-shadow: rgba(127, 187, 203, 0.3) 0 0 0 -1px;
            box-shadow: rgba(127, 187, 203, 0.3) 0 0 0 -1px; }

  10% {
    -webkit-box-shadow: rgba(127, 187, 203, 0.3) 0 0 0 10px;
            box-shadow: rgba(127, 187, 203, 0.3) 0 0 0 10px; }

  20% {
    -webkit-box-shadow: rgba(127, 187, 203, 0.3) 0 0 0 -1px;
            box-shadow: rgba(127, 187, 203, 0.3) 0 0 0 -1px; }

  30% {
    -webkit-box-shadow: rgba(127, 187, 203, 0.3) 0 0 0 10px;
            box-shadow: rgba(127, 187, 203, 0.3) 0 0 0 10px; }

  40% {
    -webkit-box-shadow: rgba(127, 187, 203, 0.3) 0 0 0 -1px;
            box-shadow: rgba(127, 187, 203, 0.3) 0 0 0 -1px; }

  100% {
    -webkit-box-shadow: rgba(127, 187, 203, 0.3) 0 0 0 -1px;
            box-shadow: rgba(127, 187, 203, 0.3) 0 0 0 -1px; } }

@keyframes buttonPulse {
  0% {
    -webkit-box-shadow: rgba(127, 187, 203, 0.3) 0 0 0 -1px;
            box-shadow: rgba(127, 187, 203, 0.3) 0 0 0 -1px; }

  10% {
    -webkit-box-shadow: rgba(127, 187, 203, 0.3) 0 0 0 10px;
            box-shadow: rgba(127, 187, 203, 0.3) 0 0 0 10px; }

  20% {
    -webkit-box-shadow: rgba(127, 187, 203, 0.3) 0 0 0 -1px;
            box-shadow: rgba(127, 187, 203, 0.3) 0 0 0 -1px; }

  30% {
    -webkit-box-shadow: rgba(127, 187, 203, 0.3) 0 0 0 10px;
            box-shadow: rgba(127, 187, 203, 0.3) 0 0 0 10px; }

  40% {
    -webkit-box-shadow: rgba(127, 187, 203, 0.3) 0 0 0 -1px;
            box-shadow: rgba(127, 187, 203, 0.3) 0 0 0 -1px; }

  100% {
    -webkit-box-shadow: rgba(127, 187, 203, 0.3) 0 0 0 -1px;
            box-shadow: rgba(127, 187, 203, 0.3) 0 0 0 -1px; } }

.navicon {
  width: 20px;
  height: 3px;
  background: #333333;
  display: block;
  margin-top: 5px;
  margin-bottom: 6px;
  position: relative;
  border-radius: 1px;
  -webkit-transition: background;
          transition: background;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s; }
  .navicon:before, .navicon:after {
    position: absolute;
    content: "";
    display: block;
    width: 20px;
    height: 3px;
    background: #333333;
    left: 50%;
    margin-left: -10px;
    border-radius: 1px;
    -webkit-transition: margin, width, -webkit-transform, top, bottom;
            transition: margin, width, transform, top, bottom;
    -webkit-transition-duration: 0.2s;
            transition-duration: 0.2s; }
  .navicon:before {
    -webkit-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    top: -6px; }
  .navicon:after {
    bottom: -6px; }

.open .navToggle .navicon {
  background: none; }
  .open .navToggle .navicon:before, .open .navToggle .navicon:after {
    width: 24px;
    margin-left: -12px; }
  .open .navToggle .navicon:before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 0; }
  .open .navToggle .navicon:after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 0; }

.mainMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 0em;
  padding-bottom: 0em;
  z-index: 3;
  background: #7fbbcb;
  -webkit-transition: max-height, padding, top;
          transition: max-height, padding, top;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  padding-top: 5em;
  padding-bottom: 3em;
  top: -40em;
  -webkit-box-shadow: rgba(51, 51, 51, 0.2) 0 1em 0 0;
          box-shadow: rgba(51, 51, 51, 0.2) 0 1em 0 0; }

.open .mainMenu {
  bottom: auto;
  top: 0; }

.mainMenu li {
  display: block;
  text-align: center; }
  .mainMenu li a {
    display: block;
    line-height: 1;
    text-transform: lowercase;
    font-family: "ff-meta-sc-web-pro", "ff-meta-web-pro", "Helvetica Neue", helvetica, arial, sans-serif;
    letter-spacing: 0.1em;
    color: #fff8d8;
    padding: 0 1em; }
    .mainMenu li a .menuLinkInner {
      display: inline-block;
      padding: 0.5em 0;
      color: #fff8d8;
      -webkit-box-shadow: inset #7fbbcb 0 0em 0 0;
              box-shadow: inset #7fbbcb 0 0em 0 0;
      -webkit-transition: -webkit-box-shadow;
              transition: box-shadow;
      -webkit-transition-duration: 0.2s;
              transition-duration: 0.2s; }
      .mainMenu li a .menuLinkInner:hover {
        -webkit-box-shadow: inset #333333 0 -0.2em 0 0;
                box-shadow: inset #333333 0 -0.2em 0 0; }

.postMetaIntro {
  display: block;
  padding-bottom: 0.5em;
  line-height: 1.1; }

.introParagraph {
  font-size: 1.6em;
  line-height: 1.2; }
  @media (max-width: 750px) {
    .introParagraph {
      font-size: 1.4em; } }
  @media (max-width: 400px) {
    .introParagraph {
      font-size: 1em;
      line-height: 1.6; } }

.recordArtist {
  font-family: "ff-meta-sc-web-pro", "ff-meta-web-pro", "Helvetica Neue", helvetica, arial, sans-serif;
  text-transform: lowercase; }

.recordTitle {
  font-style: italic; }

.mainContent p a, .mainContent h2 a, .mainContent h3 a, .mainContent h4 a, .mainContent h5 a, .mainContent h6 a {
  -webkit-box-shadow: inset 0 -0.2em 0 0 #fff8d8, inset 0 0em 0 0 #fbae17, inset 0 -0.3em 0 0 #7fbbcb;
          box-shadow: inset 0 -0.2em 0 0 #fff8d8, inset 0 0em 0 0 #fbae17, inset 0 -0.3em 0 0 #7fbbcb;
  -webkit-transition: color, background, -webkit-box-shadow;
          transition: color, background, box-shadow;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s; }
  .mainContent p a:hover, .mainContent h2 a:hover, .mainContent h3 a:hover, .mainContent h4 a:hover, .mainContent h5 a:hover, .mainContent h6 a:hover {
    background: none;
    -webkit-box-shadow: inset 0 -0.2em 0 0 #fff8d8, inset 0 0em 0 0 #fbae17, inset 0 -1.6em 0 0 #7fbbcb;
            box-shadow: inset 0 -0.2em 0 0 #fff8d8, inset 0 0em 0 0 #fbae17, inset 0 -1.6em 0 0 #7fbbcb; }
  .mainContent p a:active, .mainContent h2 a:active, .mainContent h3 a:active, .mainContent h4 a:active, .mainContent h5 a:active, .mainContent h6 a:active {
    -webkit-box-shadow: inset 0 -0.2em 0 0 #fff8d8, inset 0 -1.6em 0 0 #fbae17, inset 0 -1.6em 0 0 #7fbbcb;
            box-shadow: inset 0 -0.2em 0 0 #fff8d8, inset 0 -1.6em 0 0 #fbae17, inset 0 -1.6em 0 0 #7fbbcb;
    color: #fff8d8; }

.mainContent h3 a, .mainContent .small a {
  -webkit-box-shadow: inset 0 -0.1em 0 0 #fff8d8, inset 0 0em 0 0 #fbae17, inset 0 -0.3em 0 0 #7fbbcb;
          box-shadow: inset 0 -0.1em 0 0 #fff8d8, inset 0 0em 0 0 #fbae17, inset 0 -0.3em 0 0 #7fbbcb; }
  .mainContent h3 a:hover, .mainContent .small a:hover {
    -webkit-box-shadow: inset 0 -0.1em 0 0 #fff8d8, inset 0 0em 0 0 #fbae17, inset 0 -1.6em 0 0 #7fbbcb;
            box-shadow: inset 0 -0.1em 0 0 #fff8d8, inset 0 0em 0 0 #fbae17, inset 0 -1.6em 0 0 #7fbbcb; }
  .mainContent h3 a:active, .mainContent .small a:active {
    -webkit-box-shadow: inset 0 -0.2em 0 0 #fff8d8, inset 0 -1.6em 0 0 #fbae17, inset 0 -1.6em 0 0 #7fbbcb;
            box-shadow: inset 0 -0.2em 0 0 #fff8d8, inset 0 -1.6em 0 0 #fbae17, inset 0 -1.6em 0 0 #7fbbcb;
    color: #fff8d8; }

.mainContent h2 {
  padding-bottom: 0.5em; }

.mainContent h3 {
  font-size: 1.2em;
  font-weight: bold;
  padding-bottom: 1rem;
  line-height: 1.3; }
  .mainContent h3 strong {
    font-family: "ff-meta-web-pro", "Helvetica Neue", helvetica, arial, sans-serif;
    text-transform: uppercase; }

.mainContent h4 {
  font-weight: bold;
  padding-bottom: 1rem;
  line-height: 1.3; }

.footerMenu {
  display: block;
  padding: 0 1em;
  text-align: center; }
  .footerMenu li {
    font-family: "ff-meta-sc-web-pro", "ff-meta-web-pro", "Helvetica Neue", helvetica, arial, sans-serif;
    text-transform: lowercase;
    letter-spacing: 0.05em;
    display: inline-block;
    margin-right: 1.5em; }
    .footerMenu li:last-of-type {
      margin-right: 0; }
    @media (max-width: 400px) {
      .footerMenu li {
        margin-right: 0;
        display: block; } }
    .footerMenu li a {
      font-size: 0.7em;
      display: block;
      line-height: 1;
      padding: 0.2em 0; }
      .footerMenu li a:hover {
        background: inherit;
        -webkit-box-shadow: #7fbbcb 0 0.2em 0 0;
                box-shadow: #7fbbcb 0 0.2em 0 0; }
      @media (max-width: 400px) {
        .footerMenu li a {
          margin-right: 0;
          display: block;
          font-size: 1em; }
          .footerMenu li a:hover {
            -webkit-box-shadow: none;
                    box-shadow: none; } }

.credits {
  font-size: 0.7em;
  font-family: "ff-meta-sc-web-pro", "ff-meta-web-pro", "Helvetica Neue", helvetica, arial, sans-serif;
  text-transform: lowercase;
  text-align: center;
  display: block;
  padding: 0.5em 0 1em 0; }
  @media (max-width: 400px) {
    .credits {
      font-size: 1em;
      padding-top: 1em; } }

.player .playPause {
  padding: 1em;
  background: #7fbbcb;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  .player .playPause:before {
    content: "Pause"; }
  .player .playPause.amplitude-paused:before {
    content: "Play"; }

.standardAudioPlayer {
  border-bottom: 4px solid #333333;
  margin: 2em 0;
  padding: 0.2em 0; }
  .standardAudioPlayer p {
    padding-bottom: 0; }

.playlistSongWrapper {
  margin-bottom: 1em; }

.playlistSongTrigger {
  display: block;
  width: 100%;
  padding: 0.5em 0.5em 0.5em 2.5em;
  background: rgba(127, 187, 203, 0.3);
  text-align: left;
  position: relative;
  -webkit-box-shadow: inset #333333 2em 0 0 0;
          box-shadow: inset #333333 2em 0 0 0;
  -webkit-transition: background;
          transition: background;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s; }
  .playlistSongTrigger:focus {
    outline: none; }
  .playlistSongTrigger .playPauseIcon {
    line-height: 1;
    display: block;
    width: 2em;
    padding: 0.9em 0;
    background: #333333;
    position: absolute;
    top: 0em;
    left: 0em;
    color: #fff8d8;
    text-align: center; }
  .playlistSongTrigger.songPaused:hover {
    background: #7fbbcb;
    background: rgba(127, 187, 203, 0.6); }

.playlistSongTrigger.songPlaying {
  background: #fbae17; }

.playlistSongTrigger.songPaused .playPauseIcon:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  margin-top: 0.9em;
  left: 50%;
  margin-left: -0.2em;
  border-top: 0.5em solid transparent;
  border-left: 0.6em solid #fff8d8;
  border-bottom: 0.5em solid transparent; }

.playlistSongTrigger.songPlaying .playPauseIcon:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  margin-top: 1em;
  left: 50%;
  height: 0.8em;
  width: 0.8em;
  margin-left: -0.35em;
  border-top: none;
  border-left: 0.3em solid #fff8d8;
  border-right: 0.3em solid #fff8d8;
  border-bottom: none; }

.playlistInfo {
  display: block;
  line-height: 1; }

.playlistSongName {
  font-weight: bold; }

.playlistInfoBandAlbum {
  font-size: 0.8em;
  color: rgba(51, 51, 51, 0.8); }

.songProgress {
  height: 1em;
  background: #7fbbcb;
  position: relative; }
  .songProgress .songPlayTimer, .songProgress .songDuration {
    width: 4em;
    text-align: center;
    position: absolute;
    top: 0;
    color: #333333;
    color: #fff8d8;
    line-height: 1.5;
    height: 1em;
    pointer-events: none;
    font-family: monospace; }
  .songProgress .songPlayTimer {
    left: 0; }
  .songProgress .songDuration {
    right: 0; }
  .songProgress .songProgressSlider {
    margin-top: 1em;
    width: 100%; }

.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

.centered {
  text-align: center; }

.small {
  font-size: 0.8em;
  line-height: 1.2;
  margin-bottom: 1rem; }

.block {
  display: block; }

.bottomMargin {
  margin-bottom: 1em; }

.littleButtons {
  font-size: 0.8em; }

.testWrap {
  width: 100%;
  max-width: 30em;
  margin: 0 auto; }
