---
layout: default
---
<div class="post mainContent">

    <header class="post-header">
        <h1 class="post-title">{{ page.title }}</h1>
    </header>

    <article class="postContent articleContent mainContent">
        {% if page.intro %}
            <h3>{{ page.intro}}</h3>
        {% endif %}
        {{ content }}

        <div class="dividerWrapper">
            <h6>Alternative Christmas Music</h6>
            <div class="arrow down"></div>
        </div>

    </article>
    
    <div class="christmasSnippets" id="player">
        {% assign count = 0 %}

        {% for post in site.categories['christmas'] %}
            {% include christmasSnippet.html %}
            
            <div class="player">
                {% for audioLink in post.audioLinks %}
                    <div class="playlistSongWrapper song{{ count }}" data-song-index="{{ count }}">
                        <button class="playlistSongTrigger songPaused notPlayedYet" data-song-index="{{ count }}">
                            <span class="playPauseIcon"></span>
                            <span class="playlistInfo playlistSongName">{{ audioLink.name}}</span>
                            <span class="playlistInfo playlistInfoBandAlbum">
                                <span class="playlistBandName">{% if audioLink.artist %}{{ audioLink.artist }}{% else if post.band %}{{ post.band }}{% endif %}</span> – <span class="playlistAlbumName"><em>Alternative Christmas</em></span>
                            </span>
                        </button>

                        <div class="songProgress clearfix">

                            <div class="songPlayTimer">
                                0:00
                            </div>

                            <input type="range" class="songProgressSlider" min="0" max="100" value="0" oninput="myAudioPlayer.sliderScrub(this.value, {{ count }})">

                            <!--oninput="sliderScrub(value,{{ count }})"/>-->

                            <div class="songDuration">
                                0:00
                            </div>

                        </div>
                    </div>
                    {% assign count = count | plus: 1 %}
                {% endfor %}
            </div>
        {% endfor %}
    </ul>

</div>

<script type="text/javascript">
    var songs = [
            {% assign first = true %}
            {% for post in site.categories['christmas'] %}
                {% for audioLink in post.audioLinks %}
                    {% unless first %},{% endunless %}
                    {

                        {% if audioLink.url %}
                            "url": "http://audio.eatenbymonsters.com/{{ audioLink.url }}"
                        {% endif %}
                    }
                    {% assign first = false %}
                {% endfor %}
            {% endfor %}
        ];
</script>